.bg-img {
  background-image: url('images/bg-back.jpg'); /* Ubah path sesuai dengan direktori gambar Anda */
  background-size: cover;
}
.m-custom {
  margin-top: 8rem;
}
#typewriter {
    font-weight: bold;
}
#typewriter::after {
    content: '|';
    display: inline-block;
    margin-left: 5px;
    animation: blink-caret 0.75s infinite;
  }
  
@keyframes blink-caret {
    50% {
      opacity: 0;
    }
  }
  